<section class="scrolly" data-flourishid="2528517">
  <figure class="figure__full">
    <iframe
      scrolling="no"
      src="https://flo.uri.sh/story/2528517/embed#slide-0"
      class="image__full"></iframe>
  </figure>
</section>

<figure>
  <div class="indicator">
    <p>Desliza</p>
    <p>hacia abajo</p>
    <span class="arrow-icon material-symbols-outlined">
      <i class="fa-solid fa-angles-down"></i>
    </span>
  </div>
</figure>

<article class="article__center">
  <div class="step" data-step="1">
    <p>
      Subir al Cristo de la Concordia en Cochabamba y admirar el valle desde lo
      alto es una experiencia turística increíble. Sin embargo, es lamentable
      observar cómo una nube grisácea de contaminación se eleva desde la ciudad
      a ciertas horas, opacando el panorama.
    </p>
  </div>
  <div class="step" data-step="2">
    <p>
      Cochabamba, junto con la ciudad de El Alto están entre las <b>
        cinco ciudades más contaminados del país</b
      >, a causa de “humaredas de los incendios, la emisión de gases de las
      industrias, del parque automotor e incluso las tradicionales ofrendas a la
      Pachamama” según el viceministro de Medio Ambiente, Magín Herrera.
    </p>
  </div>
</article>
