---
// Detalle de la huella con imagen y pasos
---

<section class="scrolly" style="background-color: white;">
    <figure class="figure__semifull">
      <img src="/public/img/huella.png" class="image__semifull">
    </figure>
    <article class="article__right">
      <div class="step" data-step="0">
        <p>
          La Huella de carbono es un <b>indicador ambiental</b> que representa la cantidad de
          gases de efecto invernadero que emitimos los seres humanos hacia el ambiente, derivado
          de nuestras actividades, un producto o un servicio.
        </p>
      </div>
      <div class="step" data-step="1">
        <p>
          Al cuantificar las emisiones de gases de efecto invernadero, la
          <b>huella de carbono proporciona datos concretos y medibles</b> que permiten a
          gobiernos, empresas y ciudadanos hacer un seguimiento de sus esfuerzos por mitigar el
          cambio climático.
        </p>
      </div>
      <div class="step" data-step="1">
        <i class="fa-solid fa-thermometer"></i>
        <p>
          Esta métrica se ha vuelto indispensable para diseñar e implementar estrategias
          efectivas de descarbonización a nivel individual, organizacional y global.
        </p>
      </div>
    </article>
  </section>
  