<section class="scrolly text-block">
  <article>
    <h2>
      Impactos del Cambio Climático en Bolivia: De los Andes a las Llanuras
    </h2>

    <p>
      Bolivia, durante los últimos 30 años ha perdido aproximadamente la mitad
      de masa de hielo en sus glaciares. Según el estudio: “Glaciares Bolivia:
      12 testigos del cambio climático”, los causantes no sólo están en el
      calentamiento global, sino también en la ceniza que llega hasta las
      cumbres como producto de las quemas forestales (chaqueos) y quema de
      pastizales, además de los residuos que suben desde los motores de los
      vehículos a diésel, dejando un manto negro de hollín que ensucia los
      glaciares y obstaculiza su capacidad de reflejar (rebotar) la luz
      acelerando su derretimiento.
    </p>
  </article>
  <div class="container">
    <div>
      <p>
        Esta crisis climática representa altos riesgos para los sistemas
        humanos, económicos, sociales, productivos y naturales de Bolivia. De
        acuerdo con el Índice de Riesgo Climático Global 2021 (IRC), <b
          >Bolivia se ubica dentro de los 10 primeros países más vulnerables del
          mundo, tomando en cuenta los impactos de los eventos climáticos
          extremos y los datos socioeconómicos asociados.
        </b>
      </p>
      <!-- camiar el orden de las causas de co2 para que coordine con los parrafos posteriores-->
      <i class="fa-solid fa-chart-simple"></i>
      <p>
        Según datos del ClimateWatchData, el sector energético es el mayor
        emisor de CO2eq, a nivel mundial (92%). Pero en Bolivia los principales
        sectores emisores de CO2eq son: ( uso de suelos y agricultura, la
        industria energética, los procesos industriales, el transporte, la
        explotación de combustibles, la construcción, los residuos, entre
        otros.)
      </p>
    </div>
    <div>
      <iframe
        src="https://player.vimeo.com/video/997551208?title=0&byline=0&portrait=0&badge=0&autoplay=1&app_id=58479&loop=1"
        width="500"
        height="500"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        title="cambio climatico en Bolivia"></iframe>
    </div>
  </div>
</section>
