---
// src/components/DeforestationEmissions.astro
---

<section class="horizontal-cards" style="background-color: white;">
  <figure class="figure__full">
    <img src="/public/img/emisiones.png" class="image__semifull" />
  </figure>
  <article class="cards">
    <div class="card">
      <p>
        El cambio de uso de suelo, la agricultura, a su vez están vinculados con
        la <b>pérdida de cobertura boscosa</b>...
      </p>
    </div>
    <div class="card">
      <figure>
        <img src="/img/quema-gif.gif" style="width: 15vh;" />
      </figure>
      <p>
        También es necesario mencionar la ola de incendios que ha venido
        sufriendo el país...
      </p>
    </div>
    <div class="card">
      <p>
        Recordando que un bosque está catalogado como un sumidero de carbono...
      </p>
    </div>
  </article>
</section>
