---
// src/components/SouthAmericaEnergyUse.astro
---

<section class="text-block-white">
    <article>
      <p>
        Los países de América del Sur han aumentado el uso per cápita de energía para el transporte por carretera...
      </p>
      <p>
        Y junto a un rápido proceso paralelo de urbanización y al aumento de las ventas de autos...
      </p>
    </article>
  </section>
  