---
// src/components/CarbonFootprintPolicies.astro
---

<section class="scrolly text-block">
    <article>
      <h2>Medidas y políticas para disminuir la huella de carbono</h2>
      <p>En los últimos años, Bolivia se ha posicionado como un referente global en el reconocimiento de los derechos de la naturaleza...</p>
    </article>
  </section>
  