<section class="scrolly text-block">
    <article>
      <p>
        Cabe mencionar que esta línea de tiempo no incluye leyes y decretos supremos relacionados con la minería, metalurgia e hidrocarburos, ni la protección de fauna y flora.
      </p>
  
      <p>
        Entonces, pese a tener normativa legal vigente para combatir los problemas medioambientales, la realidad es otra, mostrando que existen varios casos, principalmente de deforestación, el tráfico de madera, ampliación de campos agrícolas, la construcción de carreteras en área protegidas, entre otros; que impiden desarrollar una labor eficaz a las instituciones creadas para prevenir, combatir y sancionar las violaciones y el daño al medio ambiente.
      </p>
    </article>
  </section>
  