<section class="scrolly text-block">
    <article>
      <h2>Bolivia en América del Sur</h2>
  
      <p>
        América del Sur es una región distintiva, rica en cultura, etnia y diversidad biológica.
        <b>Su extensión de 17,8 millones de km² equivale al 8% de la superficie terrestre. A su vez, representa el 5% de la población mundial.</b>
      </p>
      <p>
        Según el informe de América del Sur de 2022 de <em>The Lancet;</em> en los últimos diez años, las olas de calor son más frecuentes e intensas y han puesto en riesgo la salud y la supervivencia de niños menores de un año y adultos mayores de 65 años.
      </p>
    </article>
  </section>
  