<section class="scrolly text-block">
  <article class="container-title">
    <i class="fa-solid fa-chart-line fa-fade" style="font-size: 9vh;"></i>
    <h1 class="animated-text">
      Radiografía de las Emisiones de CO2 en Bolivia: Comprendiendo los GEI y la
      Huella de Carbono
    </h1>
  </article>
</section>
