<section class="scrolly" data-flourishid="2495787" style="background-color: white">
    <figure class="figure__semifull">
      <iframe src="https://flo.uri.sh/story/2495787/embed" title="Interactive or visual content" class="flourish-embed-iframe" frameborder="0" scrolling="no" style="width:100%;height:600px;"></iframe>
    </figure>
  
    <article class="article__right">
      <div class="step" data-step="1">
        <p>
          Con base en los datos de CO2 totales expresados en "toneladas métricas equivalente de dióxido de carbono" presentamos el siguiente <b>top 10 de los países de sudamérica durante la gestión 2022.</b>
        </p>
      </div>
    </article>
    <article class="article__right">
      <div class="step" data-step="2">
        <p>
          Esta preeminencia de Brasil se debe a la combinación de sectores económicos, como el cambio de uso de suelo, la energía, la industria y el transporte, que generan altos niveles de liberación de CO2 y otros gases de efecto invernadero.
        </p>
      </div>
    </article>
  
    <article class="article__right">
      <div class="step" data-step="2">
        <p>
          Los países de América del Sur han aumentado el uso per cápita de energía para el transporte por carretera en un 138% entre 1971 y 2019. Donde países como Paraguay, Ecuador, <b>Bolivia y Guyana han triplicado su uso de energía per cápita en el transporte por carretera desde la década de 1970.</b>
        </p>
      </div>
    </article>
  </section>
  