<section class="scrolly text-block">
    <article>
      <p>
        Junto a un rápido proceso paralelo de urbanización y al aumento de las ventas de autos, <b>los países de América del Sur no están ofreciendo respuestas de adaptación proporcionales a los crecientes riesgos que enfrentan sus poblaciones.</b>
      </p>
      <p>
        La importancia de conocer la huella de carbono en Bolivia radica en que, aunque sus emisiones per cápita no son tan elevadas como en otros países de Sudamérica, es fundamental que <b>todas las naciones, independientemente de su tamaño o desarrollo económico, asuman acciones para reducir su impacto ambiental.</b>
      </p>
      <p>
        Según datos del informe EDGAR <em>(The Emissions Database for Global Atmospheric Research)</em>, Bolivia emite alrededor de 2 toneladas de CO2 por habitante, mientras que países vecinos como Argentina y Brasil llegan a triplicar e incluso cuadruplicar esa cifra.
      </p>
    </article>
  </section>
  