<section class="scrolly text-block">
    <article>
      <div class="container">
        <div>
          <p>
            Ciertamente a nivel mundial, los dos países que más contaminan son Estados Unidos y China, sería muy sencillo echarles la culpa, pero <b>¿de dónde provienen nuestros celulares, cargadores, aparatos electrodomésticos, auriculares, ropa entre otros?</b>
          </p>
          <p>
            El transporte y consumo de estos productos, también genera una huella significativa, por ello la importancia de cambiar nuestros hábitos de consumo sin miramientos y por un futuro más sostenible.
          </p>
        </div>
        <div>
          <iframe
            src="https://player.vimeo.com/video/997560343?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autoplay=1&amp;player_id=0&amp;app_id=58479&amp;loop=1"
            width="508" height="372" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
            title="co2 en el mundo- val"></iframe>
        </div>
      </div>
    </article>
  </section>
  