---
// Países con sus principales fuentes de emisiones de CO2
---

<section class="horizontal-slides">
    <div class="slide rojo">
      <h2 style="color: white;">Las principales fuentes de emisiones de CO2 en Sudamérica</h2>
      <figure><img src="/img/Brasil.png" style="width: 15vh;"></figure>
      <h3 style="color: white; letter-spacing: 0.7px;">BRASIL</h3>
      <p>Es un gran emisor de dióxido de carbono porque continúa talando bosques para obtener madera y expandir su agricultura. Entre 2000 y 2020, el 76 % de las emisiones del país provino de este tipo de cambio en el uso de la tierra. Un bosque en pie absorbe carbono; la tala de un bosque lo libera.</p>
    </div>
  
    <div class="slide naranja">
      <figure><img src="/img/argentina.png" style="width: 15vh;"></figure>
      <h3>ARGENTINA</h3>
      <p>En 2018, su principal fuente de las emisiones de CO2 fue del sector energético, alcanzando el 51% del total de emisiones. Las emisiones del sector energético se concentran principalmente en la quema de combustibles para la generación eléctrica y refinación.</p>
    </div>
  
    <div class="slide verde">
      <figure><img src="/img/chile.png" style="width: 15vh;"></figure>
      <h3 style="color: white; letter-spacing: 0.8px;">CHILE</h3>
      <p>El sector energético es la principal fuente de CO2, contribuyendo con el 75% de las emisiones totales en 2020. La generación de electricidad y el transporte terrestre son las principales fuentes contaminantes del país, ambas dentro del sector energético.</p>
    </div>
  
    <div class="slide rojo">
      <figure><img src="/img/Venezuela.png" style="width: 15vh;"></figure>
      <h3 style="color: white;">VENEZUELA</h3>
      <p>En 2016, las emisiones de CO2 derivadas del consumo de combustibles líquidos (principalmente derivados del petróleo) representaron el 47,5% del total de sus emisiones.</p>
    </div>
  
    <div class="slide naranja">
      <figure><img src="/img/Colombia-vaca.png" style="width: 15vh;"></figure>
      <h3>COLOMBIA</h3>
  