---
// Acciones personales contra el cambio climático
---

<section class="scrolly text-block">
    <article>
      <h2 class="animated-text">Acciones que los ciudadanos pueden tomar para ser parte de la solución</h2>
  
      <p>
        <b>Conocer nuestra huella de carbono personal nos permite informarnos y ser consumidores más responsables a la hora de elegir productos, trasporte, alimentación y cambiar algunos de nuestros hábitos que pueden favorecer nuestra economía y nuestro medio ambiente.
          <i class="fa-solid fa-download fa-fade"></i>
          <a href="https://play.google.com/store/apps/details?id=com.daniel.android.myglocations&hl=es_BO">Descarga Mi Huella App en tu celular aquí</a>
        </b>
      </p>
  
      <div class="container">
        <p style="margin-top: 8vh;">“Minimizar la ingesta de carne roja según las pautas dietéticas no solo ayudaría a evitar estas muertes, también simultáneamente conducen a la reducción de las emisiones de GEI relacionadas con la cría de ganado y las prácticas agrícolas asociadas” (The Lancet Regional Health - Américas)</p>
        <figure><img src="/img/mi huella.gif" style="width: 45vh;"></figure>
      </div>
  
      <p>
        La implementación de una acción climática acelerada requiere el apoyo de actores y sectores clave de la sociedad, incluidos los responsables políticos, investigadores, medios de comunicación y el público en general.
        <br>
        <b>Los pequeños cambios pueden suponer una gran diferencia a largo plazo y a gran escala.</b>
      </p>
    </article>
  </section>
  