---
// Recomendaciones prácticas sobre transporte, hogar, alimentación y reciclaje
---

<section class="horizontal-slides">
  <div class="slide rojo">
    <figure><img src="/img/transporte.png" style="width: 25vh;" /></figure>
    <h3 style="color: white;">Transporte</h3>
    <div class="text-let">
      <li>
        Utiliza más el transporte público, la bicicleta o camina cuando sea
        posible.
      </li>
      <li>Reduce el uso del automóvil particular y combina viajes.</li>
      <li>
        Opta por vehículos eléctricos o de bajo consumo cuando sea necesario
        adquirir un auto.
      </li>
    </div>
  </div>

  <div class="slide naranja">
    <figure><img src="/img/casa-energia.png" style="width: 25vh;" /></figure>
    <h3>Hogar y Energía</h3>
    <div class="text-let">
      <li>Reduce el consumo de energía en el hogar.</li>
      <li>Apaga las luces, cuando no las estés utilizando.</li>
      <li>Apaga y desconecta equipos y cargadores cuando no los utilices.</li>
      <li>
        Mejora el aislamiento térmico de la vivienda y evita el uso de
        calefacción eléctrica.
      </li>
    </div>
  </div>

  <div class="slide verde">
    <figure><img src="/img/alimentacion.png" style="width: 25vh;" /></figure>
    <h3 style="color: white;">Alimentación y consumo</h3>
    <div class="text-let">
      <li>Reduce el consumo de carne y productos lácteos.</li>
      <li>Compra alimentos locales y de temporada.</li>
      <li>Disminuye el desperdicio de alimentos.</li>
    </div>
  </div>

  <div class="slide rojo">
    <figure><img src="/img/reiclaje.png" style="width: 25vh;" /></figure>
    <h3 style="color: white;">Reciclaje y Residuos</h3>
    <div class="text-let">
      <li>Composta los residuos orgánicos.</li>
      <li>Reduce el consumo de plásticos de un solo uso.</li>
      <li>
        Clasifica y recicla los residuos de manera adecuada (también puedes
        buscar a tu ecorecolector más cercano).
      </li>
      <li>Reduce el consumo de bienes y servicios innecesarios.</li>
    </div>
  </div>

  <div class="slide naranja">
    <figure><img src="/img/recialje.png" style="width: 25vh;" /></figure>
    <h3>Participación y <em>advocacy</em></h3>
    <div class="text-let">
      <li>Participa en iniciativas comunitarias de acción climática.</li>
      <li>Promueve hábitos sostenibles en tu entorno social.</li>
      <li>
        Apoya y presiona a líderes políticos para políticas climáticas
        ambiciosas.
      </li>
    </div>
  </div>
</section>
