<section class="scrolly" data-flourishid="2543179">
    <figure class="figure__full">
        <iframe scrolling="no" src="https://flo.uri.sh/story/2543179/embed#slide-0" class="image__full"></iframe>
    </figure>

    <article class="article__center">
        <div class="step" data-step="0">
            <p>El informe de 2022 de <em>Lancet Countdown</em> Sudamérica sobre salud y crisis climática
                presenta a la contaminación del aire como uno de los principales factores de
                riesgo que presenta la degradación del medioambiente y su relación directa con
                el riesgo de infartos, problemas respiratorios y cáncer, entre otras patologías.</p>
        </div>
        <div class="step" data-step="1">
            <p>Según ése informe <b>Perú y Bolivia</b> tienen
                la peor calidad del aire, donde los peruanos están expuestos a un promedio anual de
                contaminación del aire ambiente de 31 mg/m3 y los bolivianos a 27 mg/m3 (miligramos de sustancia
                química por metro cúbico de aire),
                más de <b>cinco veces más alto que las directrices de la OMS</b></p>
        </div>
        <div class="step" data-step="2">
            <p>Esta imagen nos hace reflexionar sobre la cantidad de personas que tienen que respirar
                ese aire todos los días, incluyendo a los niños de las escuelas ubicadas en medio de esa
                polución.</p>
        </div>
    </article>
</section>