
<section class="scrolly text-block">
    <article>
        <h2>Tendencias de emisiones de CO2 en Bolivia:</h2>
        <p>De acuerdo al inventario de Gases de Efecto Invernadero en Bolivia, elaborado según las guías
            recomendadas
            por el Panel Intergubernamental sobre Cambio Climático (IPCC), <b>el gas de efecto
                invernadero más
                importante
                en el país es el dióxido de carbono CO2 y representa aproximadamente el 64% del efecto
                de
                calentamiento. </b></p>

        <p>Comprender a fondo las tendencias recientes en las emisiones de CO2 en Bolivia es crucial
            para
            abordar de manera
            efectiva los desafíos climáticos que enfrenta el país, identificar áreas prioritarias de
            acción e
            inspirar
            cambios en los hábitos de consumo individuales y colectivos, a fin de contribuir a un futuro
            más
            verde y resiliente para el país.</p>

    </article>
</section>
