<section
  class="scrolly"
  data-flourishid="2495775"
  style="background-color: white"
>
  <figure class="figure__semifull">
    <iframe
      scrolling="no"
      src="https://flo.uri.sh/story/2495775/embed#slide-0"
      class="image__full"></iframe>
  </figure>

  <article class="article__left">
    <div class="step" data-step="0">
      <p>
        La huella de carbono ha aumentado de manera constante en las últimas
        décadas, impulsada principalmente en los sectores de energía y del uso
        de tierra como el cambio en el uso de tierra, la silvicultura y la
        deforestación. Estos dos últimos sectores representan un 40%, según los
        datos del documento: <em
          >The Emissions Database for Global Atmospheric Research (EDGAR)</em>
      </p>
    </div>

    <div class="step" data-step="1">
      <p>
        Y si vemos las emisiones por habitante vemos un gráfico similar, donde <b
          >debido a la pandemia de COVID-19, vemos una disminución en el volumen
          de CO2</b
        > aunque un año después y con el paulatino regreso de la nueva normalidad,
        las emisiones no solo volvieron a incrementarse, sino que se situaron además,
        no muy lejos de los niveles previos a la crisis sanitaria
      </p>
    </div>
  </article>
</section>
