<section
  class="scrolly"
  data-flourishid="2495784"
  style="background-color: white"
>
  <figure class="figure__semifull">
    <iframe
      scrolling="no"
      src="https://flo.uri.sh/story/2495784/embed#slide-0"
      class="image__full"></iframe>
  </figure>

  <article class="article__left">
    <!-- Me gustaría que el gráfico de crecimiento de huella de carbono se sobrepusiera levemente al de crecimiento poblacional-->
    <div class="step" data-step="0">
      <p>
        Desde el año 1992 la población crece exponencialmente. Pero al comparar
        los gráficos con el ascenso del CO2 en Bolivia, vemos como desde la
        gestión 2000 al 2016, las emisiones de CO2 en la atmosfera suben de
        forma aún más acelerada que la tasa poblacional.
      </p>
    </div>

    <div class="step" data-step="1">
      <p>
        El artículo de investigación <em
          >“Which direction for sustainable development?...”</em
        >
         muestra que la trayectoria de aumento de CO2 las emisiones en Bolivia se
        han intensificado desde la introducción del vivir bien, aunque las emisiones
        permanecen dentro o cerca de la frontera sostenible, <b
          >pero si las emisiones siguen está trayectoria, sobrepasará el volumen
          aceptado.</b
        >
      </p>
    </div>
  </article>
</section>
