<section class="scrolly text-block">
  <article>
    <h3>Este contraste puede indicar:</h3>
    <li>
      Una des-correlación entre crecimiento poblacional y emisiones de CO2, no
      se debe únicamente al factor demográfico sino que hay otros factores
      clave, como los patrones de consumo, el crecimiento del parque automotor,
      los procesos industriales, el uso de suelo en la agricultura, entre otros.
    </li>
    <p></p>
    <li>
      Insostenibilidad del modelo actual a largo plazo. Pues mientras la
      población crece a un ritmo manejable, las emisiones lo hacen de forma
      desproporcionada, lo cual pone en riesgo la capacidad del país para hacer
      frente al cambio climático, si seguimos en este rumbo.
    </li>
    <p></p>

    <p>
      El rápido incremento de la temperatura global es producto de la liberación
      de <b>Gases de Efecto Invernadero (GEI)</b>
      de origen antropogénico a la atmósfera, entonces surge la pregunta…
    </p>
  </article>
</section>

<section class="scrolly text-block">
  <article>
    <h2>¿Qué son los Gases de Efecto Invernadero(GEI)?</h2>

    <p>
      El efecto invernadero se produce por la forma en que la energía del sol
      interactúa con la atmósfera terrestre. La radiación solar que llega a la
      Tierra está compuesta por ondas de alta frecuencia que atraviesan la
      atmósfera con relativa facilidad. Sin embargo, la energía que es reflejada
      y emitida de vuelta desde la superficie de la Tierra hacia el espacio,
      tiene ondas de frecuencia más baja. Este fenómeno, conocido como <b>
        calentamiento global, se debe a que los gases de efecto invernadero
        presentes en la atmósfera atrapan parte de esta radiación de baja
        frecuencia, impidiendo que escape al espacio y provocando un aumento
        gradual de la temperatura del planeta.
      </b>
    </p>
  </article>
</section>
