---
// Solo una cita en fondo blanco
---

<div style="background-color: white">
    <section class="scrolly text-block">
      <article>
        <div class="cita">
          <i class="fa-solid fa-quote-left" style="font-size: 15vh;"></i>
          <p>
            No todos los gases tienen la misma capacidad de provocar este fenómeno, pero su
            intensidad depende de su poder de radiación y el tiempo promedio que el gas permanece
            en la atmósfera (Bolin et al., 1986).
          </p>
        </div>
      </article>
    </section>
  </div>
  