---
// Intro a qué es la huella de carbono
---

<section class="scrolly text-block">
    <article>
      <h2>¿Qué es la huella de Carbono?</h2>
  
      <p>
        La noción de "huella" en el campo de la sostenibilidad comenzó a principios de la década
        de 1990 por los ecólogos William Rees y Mathis Wackernagel con el concepto de huella
        ecológica.
      </p>
      <p>
        Desde entonces, el análisis de la huella de carbono ha ido evolucionando, no solo en
        cuanto a su origen, sino también en relación a los enfoques metodológicos utilizados.
      </p>
    </article>
  </section>
  