---
// src/components/ClimateImpactBolivia.astro
---

<section class="scrolly text-block">
    <article>
      <h2>Impactos del Cambio Climático en Bolivia: De los Andes a las Llanuras</h2>
      <p>Bolivia, durante los últimos 30 años ha perdido aproximadamente la mitad de masa de hielo...</p>
    </article>
  
    <div class="container">
      <div>
        <p>Esta crisis climática representa altos riesgos para los sistemas humanos...</p>
        <i class="fa-solid fa-chart-simple"></i>
        <p>Según datos del ClimateWatchData, el sector energético es el mayor emisor de CO2eq...</p>
      </div>
      <div>
        <iframe src="https://player.vimeo.com/video/997551208?..." width="500" height="500" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="cambio climatico en Bolivia"></iframe>
      </div>
    </div>
  </section>
  