---
// src/components/EnvironmentalTimeline.astro
---

<section class="timeline">
  <div class="event">
    <div class="event-content">
      <h3>
        En Abril de 1992 se promulga la Ley del Medio Ambiente (Ley Nº 1333)
      </h3>
      <p>Es el primer marco legal general relativo al medio ambiente...</p>
    </div>
  </div>

  <div class="event">
    <div class="event-content">
      <h3>En diciembre de 1996 sale la Ley Forestal (Ley Nº 1700)</h3>
      <p>
        Con el objetivo de regular la utilización sostenible y la protección de
        los bosques...
      </p>
    </div>
  </div>

  <div class="event">
    <div class="event-content">
      <h3>
        En julio de 2002 se establece el Reglamento Ambiental para el Sector
        Industrial Manufacturero...
      </h3>
      <p>
        Busca regular las actividades del sector industrial manufacturero con
        objetivo de reducir la generación de contaminantes...
      </p>
    </div>
  </div>

  <div class="event">
    <div class="event-content">
      <h3>En la Constitución Política del Estado, promulgada en 2009</h3>
      <p>
        se establece de manera detallada los derechos y obligaciones que rigen
        la relación entre las personas, el Estado y la Madre Tierra...
      </p>
      <li>
        <b>Artículo 33.</b> Las personas tienen derecho a un medio ambiente saludable...
      </li>
      <li>
        <b>Artículo 34.</b> Cualquier persona, a título individual o en representación
        de una colectividad...
      </li>
      <li>
        También establece las consecuencias que se tiene si se daña al
        medioambiente...
      </li>
    </div>
  </div>

  <div class="event">
    <div class="event-content">
      <h3>
        El año 2010 se aprobó la Ley de derechos de la Madre Tierra (Ley N.º
        071)
      </h3>
      <p>
        Se entiende a la Madre Tierra como un sistema viviente dinámico
        conformado por la comunidad indivisible...
      </p>
    </div>
  </div>

  <div class="event">
    <div class="event-content">
      <h3>
        El 2012, La Ley Marco de la Madre Tierra y Desarrollo Integral para
        Vivir Bien (Ley N.º 300)
      </h3>
      <p>
        Establece que: ¨el marco para regular la relación entre la Madre Tierra
        y la sociedad...
      </p>
    </div>
  </div>

  <div class="event">
    <div class="event-content">
      <h3>
        El 2015, se promulga la Ley de Gestión Integral de Residuos (Ley N° 755)
      </h3>
      <p>
        Establece la política general y el régimen jurídico para la gestión
        integral de residuos en Bolivia...
      </p>
    </div>
  </div>
</section>
