---
import BlogCard from "../components/BlogCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog | Mi Huella">
  <section class="max-w-[1400px] mx-auto flex justify-center mt-10">
    <main class="flex flex-col gap-20">
      <div>
        <BlogCard
          img="https://cdn.bolivia.com/sdi/2020/11/24/co2-atmosfera-aumenta-4-anos-antes-tardaba-200-anos-873325.jpg"
          title="Emisiones CO2 en Bolivia"
          description="Bolivia emite 12 toneladas de dióxido de carbono (CO2) per cápita cada año, casi el doble que emite la Unión Europea (siete toneladas por persona), indicó el investigador Amos Batto con base en datos del Gobierno. Él expuso estas cifras en un evento organizado por Reacción Climática, rumbo a la Conferencia de las Naciones Unidas sobre el Cambio Climático (COP-27). Ante situación, el Gobierno “no propone planes concretos” que representen a todos los bolivianos, acotó"
          author="Patricia"
          altImg="alt de la imagen"
          link="blogs/emisiones-co2-bolivia"
          stylesComponent="flex flex-row-reverse gap-10"
          styleContent="flex flex-col w-[600px] gap-3"
          isNew="Nuevo"
          styleTitle="text-2xl font-bold"
          withImg="500px"
        />
      </div>

      <div class="flex gap-12 items-center justify-center w-full flex-wrap">
        <BlogCard
          img="https://www.anahuac.mx/mexico/sites/default/files/inline-images/Vivir-fuera-del-planeta-Tierra-basura-que-generamos-2.jpg"
          title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."
          altImg="alt de la imagen"
          stylesComponent="flex flex-col gap-4 w-fit"
          styleContent="flex flex-col w-[300px] gap-1 "
          link="blogs/blog-2"
          withImg="300px"
          styleTitle="text-lg"
        />

        <BlogCard
          img="https://i.pinimg.com/736x/d6/fc/d1/d6fcd1f3fd5a567064e5e21003f4a820.jpg"
          title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."
          altImg="alt de la imagen"
          stylesComponent="flex flex-col gap-4 w-fit"
          styleContent="flex flex-col w-[300px] gap-1 "
          withImg="300px"
          link="blogs/blog-3"
          styleTitle="text-lg"
        />

        <BlogCard
          img="https://blog.oxfamintermon.org/wp-content/uploads/2018/05/medio-ambiente-hogar.jpg"
          title="Lorem Ipsum is simply dummy text of the printing and typesetting industry."
          altImg="alt de la imagen"
          stylesComponent="flex flex-col gap-4 w-fit"
          styleContent="flex flex-col w-[300px] gap-1 "
          withImg="300px"
          link="blogs/blog-4"
          styleTitle="text-lg"
        />
        
      </div>
    </main>
  </section>
</Layout>
