---
import { Image } from "astro:assets";
import LogoLab from "../assets/images/LabTecno.png";
import LogoCiac from "../assets/images/Ciac.png";
import Huella from "../assets/images/huella.svg";
---

<section class="relative bg-huella-green overflow-hidden">
    <img
      src={Huella.src}
      alt="Imagen Huella"
      class="absolute top-0 left-0 -translate-x-[70%] scale-50 md:scale-75 rotate-90 w-full h-auto max-w-[400px]"
    />
    <img
      src={Huella.src}
      alt="Imagen Huella"
      class="absolute bottom-0 right-0 translate-x-[50%] sm:translate-x-[70%] translate-y-[20%] scale-50 md:scale-75 -rotate-12 w-full h-auto max-w-[400px]"
    />
  <article
    class="flex flex-col items-center justify-center gap-8 py-4 sm:h-full px-4 md:px-[150px] mx-auto my-auto max-w-[1440px]"
  >
    <h2 class="text-center text-xl md:text-3xl font-bold">Sobre Nosotros</h2>
    <div class="p-9 bg-[#FFFFFF] rounded-xl max-w-[740px]">
      <p class="text-huella-text-gray text-center text-base md:text-2xl text-pretty">
        Creemos en el poder de las <strong
          >pequeñas acciones para generar un gran impacto</strong
        >. Nuestro equipo está formado por apasionados por el medio ambiente y
        la tecnología, comprometidos con la <strong
          >misión de hacer del mundo un lugar más sostenible</strong
        >.
      </p>
    </div>
    <span class="text-center text-base md:text-xl text-huella-text-gray"
      >Esta app es producto de la colaboración entre:</span
    >
    <div class="flex gap-20">
      <img src={LogoCiac.src} alt="Imagen logo Ciac" class="max-w-28 h-auto"/>
      <img src={LogoLab.src} alt="Imagen logo Laboratorio Tenologías Sociales" class="max-w-24 h-auto"/>
    </div>
  </article>
</section>
