---
import Mundo from "../assets/images/Medio_mundo.png";
import GoogleBtn from "../assets/images/GooglePlay Button.png";
import Qr from "../assets/images/Qr.png";
---

<section
  id="descarga"
  class="relative flex flex-col items-center justify-between pt-4 md:pt-16 h-full px-4 md:px-[150px] mx-auto mt-auto max-w-[1440px] scroll-m-10"
>
  <article
    class="flex flex-col items-center justify-start gap-8 py-4 sm:h-full px-4 mx-auto my-auto max-w-[1440px]"
  >
    <h2 class="text-center text-xl md:text-3xl font-bold">
      Descarga <span class="text-huella-text-green">Mi Huella</span>
    </h2>
    <div
      class="flex flex-col md::flex-row md:justify-start justify-center items-center gap-14"
    >
      <img
        src={Qr.src}
        alt="Qr imagen"
        class="w-44 h-auto md:w-auto rounded-md drop-shadow-lg animate-fade-up animate-delay-200"
        width={226}
        height={239}
        loading="lazy"
      />
      <a
        href="https://play.google.com/store/apps/details?id=org.labtecnosocial.mihuella"
      >
        <img
          src={GoogleBtn.src}
          alt="Google play button"
          class="w-44 h-auto md:w-auto rounded-md drop-shadow-lg animate-fade-up animate-delay-200"
          width={280}
          height={68}
          loading="lazy"
        />
      </a>
    </div>
    <p
      class="text-huella-text-gray text-center text-base md:text-2xl text-pretty"
    >
      ¡Escanea el código QR o accede a la Playstore para comenzar a calcular tu
      huella de carbono!
    </p>
  </article>
  <div class="flex items-center justify-center h-auto w-auto">
    <img
      src={Mundo.src}
      alt="Imagen Huella"
      class="w-auto h-auto max-w-80"
      width={399}
      height={226}
    />
  </div>
</section>
