---
import HuellaIcon from "../assets/icons/HuellaIcon.png";
---

<header>
  <ul class="flex items-center justify-between px-[150px] py-6 mx-auto max-w-[1440px]">
    <li>
      <a href="#">¿Cómo calculamos?</a>
    </li>
    <li>
      <a href="#">Sobre nosotros</a>
    </li>
    <li>
      <a href="#">
        <img src={HuellaIcon.src} alt="Mi Huella ícono" />
      </a>
    </li>
    <li>
      <a href="#">Descarga</a>
    </li>
    <li>
      <a href="#">Redes Sociales</a>
    </li>
  </ul>
</header>
