---
import HuellaIcon from "../assets/icons/HuellaIcon.png";
---

<header>
  <ul class="flex items-center justify-center md:justify-between px-4  py-4 md:py-6 mx-auto max-w-[1440px]">
    <li class="hidden md:block">
      <a href="/#calcular">¿Cómo calculamos?</a>
    </li>
    <li class="hidden md:block">
      <a href="/#nosotros">Sobre nosotros</a>
    </li>
    <li>
      <a href="/">
        <img
         src={HuellaIcon.src} 
         alt="Mi Huella icono"
         class="h-7 w-auto md:h-auto"
         width={44}
         height={44}
         />
      </a>
    </li>
    <li class="hidden md:block">
      <a href="/#descarga">Descarga</a>
    </li>
    <li class="hidden md:block">
      <a href="/#redes">Redes Sociales</a>
    </li>
  </ul>
</header>
