---
import Cellphone from "../assets/images/MiHuellaCelular.png";
import GoogleBtn from "../assets/images/GooglePlay Button.png";
---
<style>
   a:hover{
    background-color: transparent;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    }
</style>
<main class="py-4 md:py-11 bg-huella-green md:h-[calc(100dvh-102px)]">
  <article
    class="flex flex-col md:flex-row items-center justify-center gap-8 md:gap-32 h-full px-4 md:px-[150px] mx-auto my-auto max-w-[1440px]"
  >
    <div class="flex flex-col gap-7 md:gap-11 items-center md:w-[500px]">
      <h1
        class="text-center text-3xl md:text-6xl font-bold text-pretty animate-fade-up"
      >
        ¡Calcula tu <span class="text-huella-text-green"
          >huella de carbono!</span
        >
      </h1>
      <p
        class="text-base md:text-2xl text-center md:text-start text-huella-text-gray max-w-[410px] text-pretty animate-fade-up animate-delay-100"
      >
        Mi huella es una <strong>herramienta</strong> para <strong
          >calcular y seguir tu impacto ambiental</strong
        >
        a través del consumo de energía, transporte y alimentación.
      </p>
      <a
        href="https://play.google.com/store/apps/details?id=org.labtecnosocial.mihuella"
      >
        <img
          src={GoogleBtn.src}
          alt="Google play button"
          class="w-44 h-auto md:w-auto rounded-md drop-shadow-lg animate-fade-up animate-delay-200"
          width={280}
          height={68}
          loading="lazy"
        />
      </a>
    </div>
    <img
      src={Cellphone.src}
      alt="Imagen celular"
      class="max-h-60 md:max-h-[710px] h-auto md:h-full w-auto animate-fade-up"
      width={346}
      height={710}
      loading="lazy"
    />
  </article>
</main>
