---
import Facebook from "../assets/icons/facebook.png";
import Instagram from "../assets/icons/instagram.png";
import Mail from "../assets/icons/mail.png";
---

<section
  id="redes"
  class="flex flex-col items-center gap-10 py-4 md:py-11 bg-huella-green h-auto"
>
  <h1
    class="text-center text-xl md:text-3xl font-bold text-pretty animate-fade-up"
  >
    ¡Síguenos <span class="text-huella-text-green">en redes sociales</span>!
  </h1>
  <div class="flex items-center justify-center gap-10">
    <a href="https://www.facebook.com/AppMiHuella"
      ><img src={Facebook.src} alt="Facebook logo" class="size-16" /></a
    >
    <a href="https://www.instagram.com/mi_huella_app/"
      ><img src={Instagram.src} alt="Instagram logo" class="size-[76px]" /></a
    >
    <a href="mailto:appmihuella@gmail.com"
      ><img src={Mail.src} alt="Mail logo" class="size-16" /></a
    >
  </div>
  <p class="text-xs sm:text-xl">
    Desarrollado por el <a
      href="https://labtecnosocial.org/"
      class="text-huella-text-green underline">LabTecnoSocial</a
    >
  </p>
</section>
