---
import ODSCircle from "../assets/images/ODS-circulo.png";
---
<section
  id="mision"
  class="flex flex-col items-center gap-5 justify-between py-4 md:py-16 px-4 md:px-[100px] mx-auto my-auto max-w-[1440px] scroll-m-10 bg-huella-text-gray-ligth"
>
  <h1 class="text-center text-xl md:text-6xl font-bold">
Nuestra Misión </h1>
<h3 class="md:text-3xl items-center">Nuestra misión es empoderar a las personas para medir y reducir su huella de carbono y huella hídrica, <strong>contribuyendo de forma directa al ODS 13 – Acción por el Clima.</strong>  También generamos un impacto positivo en otros ODS clave, reforzando nuestro compromiso con un futuro más justo y sostenible.</h3>
<div class="flex md:flex-row items-center justify-center gap-8 md:gap-32 h-full px-4 md:px-[100px] mx-auto my-auto max-w-[2440px] ">
<div class="md:text-2xl ">
  <h3>ODS a los que nos alineamos</h3>
  <ul>
    <li>ODS 3 – Salud y Bienestar, en la reducción de carne roja</li>
    <li>ODS 7 – Energía Asequible y No Contaminante  Impulsamos el ahorro energético en el hogar </li>
    <li>ODS 12 – Producción y Consumo Responsables para ahorrar agua, reducir residuos y reutilizar productos.</li>
  </ul>
</div>
  <img  
        src={ODSCircle.src}
        alt="ODS Circle"
        width="25%"
        class="m-0 transition ease-in-out duration-500 transform hover:scale-110 hover:bg-transparent"
      />
</div>
</section>