<section
  class="w-full bg-white text-gray-800 border-y border-huella-text-light-green py-8 px-4 md:px-[100px]"
>
  <div
    class="flex flex-col md:flex-row justify-between gap-8 md:gap-4 max-w-[1440px] mx-auto"
  >
    <div
      class="flex flex-col items-center md:items-start text-center md:text-left space-y-4"
    >
      <div>
        <h3 class="text-lg font-bold text-[huella-text-light-green] leading-tight">
          Equipo Lab TecnoSocial<br />Coordinación (2026)
        </h3>
        <p class="text-base mt-1">Mirvia Rocha Vargas</p>
      </div>

      <div>
        <h4 class="text-lg font-bold text-[huella-text-light-green]">Ingeniería Ambiental</h4>
        <div class="text-base mt-1 space-y-0.5">
          <p>Teresa Mamani Quispe</p>
          <p>Thamy Montecinos</p>
          <p>Mariela Quispe Mamani</p>
          <p>Gladys Chipana Mamani</p>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col items-center md:items-start text-center md:text-left space-y-4"
    >
      <div>
        <h4 class="text-lg font-bold text-[huella-text-light-green]">
          Comunicación
        </h4>
        <p>Jhonny Gutierrez</p>
        <p>Carla Crespo</p>
        <p>Raquel Sahonero</p>
        <p>Seany Yujra</p>
      </div>
      <div>
        <h4 class="text-lg font-bold text-[huella-text-light-green]">Diseño UI/UX</h4>
        <div class="text-base mt-1 space-y-0.5">
          <p>Melani Padilla</p>
          <p>Fernando Rojas</p>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col items-center md:items-start text-center md:text-left space-y-4"
    >
      <div>
        <h4 class="text-lg font-bold text-[huella-text-light-green]">Informática</h4>
        <div class="text-base mt-1 space-y-0.5">
          <p>Camila Carvajal Gusman</p>
          <p>Brayan Luna</p>
          <p>Jhon Herbert Gonzales</p>
        </div>
      </div>
      <div>
        <h4 class="text-lg font-bold text-[huella-text-light-green]">Equipo (2024 y 2025)</h4>
        <div class="text-base mt-1 space-y-0.5">
          <p>Patricia Delgadillo</p>
          <p>Abril L. Calderon Gonzales</p>
          <p>Gabriela Paco Ticona</p>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col items-center md:items-start text-center md:text-left"
    >
      <div>
        <h4 class="text-lg font-bold text-[huella-text-light-green] leading-tight">
          Agradecimientos al<br />Equipo CIAC (2023)
        </h4>
        <div class="text-base mt-1 space-y-0.5">
          <p>Laura Pinedo</p>
          <p>María Mercedes Zurita</p>
          <p>Andrea Vargas</p>
          <p>Yumy Velásquez</p>
          <p>Michelle Fernandez</p>
        </div>
      </div>
    </div>
  </div>
</section>
