<section class="flex flex-wrap justify-between border-t-4 border-b-4 border-green-500 px-6 py-8 bg-white text-gray-800">
  
  <div class="w-full md:w-1/4 mb-6">
    <p class="text-xl font-bold text-[#3BB273]  mb-2">Equipo Lab TecnoSocial<br>
        Coordinación (2025)
    </p>
    <span class="list-disc list-inside text-xl space-y-1">
      <span>Patricia Delgadillo</span><br>
      <span class="text-xl font-semibold text-[#3BB273]  mb-1"> Ingeniería Ambiental</span><br>
      <span>Teresa Mamani</span><br>
      <span>Thamy Montecinos</span>
    </span>
  </div>

  <div class="w-full md:w-1/4 mb-6">
    <p class="text-xl font-semibold text-[#3BB273]  mb-1">Diseño UI/UX</p>
    <span class="list-disc list-inside text-xl space-y-1 mb-4">
      <span>Valeria Peredo</span><br>
      <span>Marcelo Del Barco</span>
    </span>
    <p class="text-xl font-semibold text-[#3BB273]  mb-1">Informática</p>
    <span class="list-disc list-inside text-xl space-y-1">
      <span>Alex Ojeda Copa</span><br>
      <span>Camila Carvajal</span>
    </span>
  </div>

  <div class="w-full md:w-1/4 mb-6">
    <p class="text-xl font-semibold text-[#3BB273]  mb-1">Comunicación</p>
    <span class="list-disc list-inside text-xl space-y-1">
      <span>Isabella Peredo</span>
    </span>
  </div>

  <!-- Agradecimientos -->
  <div class="w-full md:w-1/4 mb-6">
    <h4 class="text-xl font-bold text-[#3BB273]  mb-2">Agradecimientos al Equipo CIAC (2023)</h4>
    <span class="list-disc list-inside text-xl space-y-1">
      <span>Laura Pinedo</span><br>
      <span>María Mercedes Zurita</span><br>
      <span>Andrea Vargas</span><br>
      <span>Yumy Velásquez</span><br>
      <span>Michelle Fernandez</span>
    </span>
  </div>
</section>